<div class="container pt-5">
    <div class="card card-body">
        <div class="row">
          <div class="col">
              <button class="btn btn-rokket mb-4" (click)="openModal(template)">
                    Agregar animal
              </button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info text-center" *ngIf="animals.length == 0">
                    <strong>No hay animales</strong>
                </div>
                <table class="table table-hover" *ngIf="animals.length > 0">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Imagen</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let a of animals">
                            <td>{{a.name}}</td>
                            <td>{{a.type | translate | titlecase}}</td>
                            <td>
                                <img [src]="a.image" style="max-width: 200px; max-height: 200px;" alt="">
                            </td>
                            <td>
                                <button class="btn btn-icon" tooltip="Eliminar" [swal]="{ title: 'Desea eliminar este animal?', showCancelButton:'true', cancelButtonText: 'Cancelar' }"
                                (confirm)="deleteAnimal(a)" [disabled]="btnLoad">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- animal modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Nuevo animal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="">Imagen</label>
            <input type="file" class="form-control" accept=".jpg, .png" [(ngModel)]="image" (change)="onSelectFile($event)"
            [ngClass]="{ 'is-invalid': submitted && image == '' }" >
            <div *ngIf="submitted && image == ''" class="invalid-feedback">
                <div>Es necesario subir una imágen</div>
            </div>
        </div>
        <div class="form-group" *ngIf="progress > 0">
            <div class="alert alert-danger text-center" *ngIf="flags.error">
                <strong>Problemas al cargar imagen</strong>
            </div>
            <div class="alert alert-info text-center" *ngIf="flags.ok">
                <strong>Imagen cargado</strong>
            </div>
            <div class="progress" *ngIf="!flags.error && !flags.ok">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progress+ '%'}">
                  {{progress}}%
                </div>
              </div>
        </div>
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="animal.name"
            [ngClass]="{ 'is-invalid': submitted && animal.name.trim() == '' }">
            <div *ngIf="submitted && animal.name.trim() == ''" class="invalid-feedback">
                <div>Nombre es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Descripción</label>
            <textarea class="form-control" [(ngModel)]="animal.description" cols="30" rows="3"
            [ngClass]="{ 'is-invalid': submitted && animal.description.trim() == '' }"></textarea>
            <div *ngIf="submitted && animal.description.trim() == ''" class="invalid-feedback">
                <div>Descripción es requerida</div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Tipo</label>
            <select class="form-control" [(ngModel)]="animal.type"
            [ngClass]="{ 'is-invalid': submitted && animal.type == '' }">
                <option *ngFor="let t of TYPES" [value]="t.value">{{t.text}}</option>
            </select>
            <div *ngIf="submitted && animal.type == ''" class="invalid-feedback">
                <div>Tipo es requerido</div>
            </div>
        </div>
        <button class="btn btn-rokket btn-block" (click)="saveAnimal()" [disabled]="btnLoad">
            <span *ngIf="btnLoad" class="spinner-border spinner-border-sm"></span>
            Agregar
        </button>
    </div>
</ng-template>